body {
  background: rgb(152, 249, 213);
}
h1 {
  text-align: center;
}
/*
   position: absolute;
   position: fixed;
   position: sticky;
*/
.caixa1 {
   position: relative;
   width: 200px;
   height: 200px;
   background: #8ba8d9;
   left: 50px;
}
.menuPrincipal {
  position: absolute; 
  background: rgb(169, 168, 168);
  width: 100%;
  height: 45px;
  top: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
li a:hover {
  background: rgba(47, 6, 228, 0.185);
}
.BoxImage {
  width: 500px;
  height: 350px;
  background:rgba(0, 0, 0, 0.904);
}
#luacheia {
  width: 95%;
  height: 80%;
}